/*! WOMEN TECHMAKERS HAMBURG: This is our custom CSS. */

/* WTM HH Color Palette: Hex Values - RGB Values: 
White: #fff - rgb(255, 255, 255);
Gray: #666 - rgb(102, 102, 102);
Black: #000 - rgb(0, 0, 0);
Green: #1CE9B6 - rgb(28, 233, 182);
Dark Green: #00BFA5 - rgb(0, 191, 165);
Blue: #4FC3F7 - rgb(79, 195, 247);
Dark Blue: #4285F4 - rgb(66, 133, 244);
*/


/*  =============================================================================
    BASE STYLES 
    ============================================================================= */

/* BASE STYLES are a set of CSS rules that will be applied into desired global HTML elements via CSS selectors (element type selectors/HTML elements or class selectors). */

* {
    
}

html,
body {

}

body {

}

.figure {

}

img {

}



/*  =============================================================================
    UTILITY - HTML ELEMENTS 
    ============================================================================= */

/* UTILITY - HTML ELEMENTS are a set of CSS rules that will be applied into certain CSS selectors that are commonly used through each HTML document. By grouping them into this module and styling them once, we'll facilite the workflow of re-using such CSS selectors (class selectors or element type selectors/HTML elements) and avoiding the need of style them over and over again. */

a {

}

a:hover,
a:focus {

}

a:hover,
a:focus,
li:nth-child(odd) a:hover,
li:nth-child(odd) a:focus {

}

li:nth-child(even) a:hover,
li:nth-child(even) a:focus {

}

.h1, .h2, .h3, .h4, .cite {

}

.h2 {

}

.h3,
.cite {

}

.h4 {

}

.cite {

}

/*  MEDIA QUERIES - BREAKPOINT: Device has a maximal width of 768 pixels */

@media only screen and (max-width: 768px) {
    .h2 {

    }
}



/*  =============================================================================
    HELPER CLASSES  
    ============================================================================= */

/* HELPER CLASSES are a set of CSS rules that will be applied into certain classes that are created to perform an specific style for an HTML element. The advantage of creating them is that we'll be able to re-use those classes as much as we need to in any HTML element that we'll like. We'll avoid repeating those styling properties in our CSS, and create a much smaller CSS file. These classes can be used inside a <h1 class="helper-class"></h1> tag, a <div class="helper-class"></div> tag, an <img class="helper-class"> tag, etc. */
     
.img--responsive {
  
}

.img--circle {

}
    
.img--headline {

}

.visible-mobile {

}

/*  MEDIA QUERIES - BREAKPOINT: Device has a maximal width of 768 pixels */

@media only screen and (max-width: 768px) {
    .visible-mobile {

    }
}



/*  =============================================================================
    GENERAL STYLES  
    ============================================================================= */

/* GENERAL STYLES are a set of CSS rules that will applied into certain global CSS selectors that are created to perform a standard style desired for an HTML element. Similarly to the Helper Classes, the General Styles contains class selectors that can be re-used in our HTML elements, again, to avoid repetition. But element type selectors (HTML elements) can also be clasified into this category, as opposed to the Helper Classes. */

.wrapper {

}    

.sec--content {

}

.sec--content .h2 {

}

.sec--content ul {

}

.sec--content ul li {
     
}

.sec--content ul li:nth-child(odd) {

}

.sec--content ul li:nth-child(even) {

}

.col {

}

.job-title {

}

.footer--blockquote {

}

/*  MEDIA QUERIES - BREAKPOINT: Device has a minimal width of 769 pixels */

@media only screen and (min-width: 769px) {
    .sec--content .wrapper {

    }
}



/*  =============================================================================
    HEADER & NAVIGATION STYLES
    ============================================================================= */

/* HEADER & NAVIGATION STYLES are a set of CSS rules that will be applied inside the header and navigation HTML elements via CSS selectors (class selectors or element type selectors/HTML elements) already defined in each HTML element that needs styling to match our template. */

.header {

}

/* LOGO */

.logo {
 
}

.logo a {

}

.logo a:hover,
.logo a:focus {

}

/* NAVIGATION */

.nav ul {

}

.nav ul li {

}

.nav a.active {

}

/* MOBILE NAVIGATION BUTTON */

.menu--open {

}

.menu--open:hover,
.menu--open:focus {

}

.menu--close {

}

/* MOBILE NAVIGATION BUTTON & NAVIGATION LINKS */

.menu--open,
.nav a {

}

/*  MEDIA QUERIES - BREAKPOINT: Device has a maximal width of 768 pixels */
    
@media only screen and (max-width: 768px) {
    
    /* NAVIGATION */
    
    .nav {

    }
    
    .nav ul {

    }
    
    .nav ul li {

    }
    
    .nav ul li a {

    }
    
    .nav a.active {

    }
    
    /* CSS Magic - Let's Open that Mobile Navigation */
    .nav:target {
  
    }
    
    /* MOBILE NAVIGATION BUTTON */

    .nav:target + .menu--close {

    }
}



/*  =============================================================================
    HOME PAGE STYLES
    ============================================================================= */

/* HOME PAGE STYLES are a set of CSS rules that will be applied to our index.HTML page via CSS selectors (class selectors or element type selectors/HTML elements) already defined in each HTML element that needs styling to match our template. */

.main--home {

}

.sec--home {

}

.sec--home .section {

}

.sec--home__logo {

}

/*  MEDIA QUERIES - BREAKPOINT: Device has a minimal width of 769 pixels */
    
@media only screen and (min-width: 769px) {
    .sec--home__logo {

    }
    
    .sec--home .h2 {

    }
}



/*  =============================================================================
    ABOUT PAGE STYLES  
    ============================================================================= */

/* ABOUT PAGE STYLES are a set of CSS rules that will be applied to our about.HTML page via CSS selectors (class selectors or element type selectors/HTML elements) already defined in each HTML element that needs styling to match our template. */

.sec--about .figure {

}

.sec--about .wrapper div:not(:first-of-type) .h2 {

} 
 
 
 
/*  =============================================================================
    EVENTS PAGE STYLES  
    ============================================================================= */      

/* EVENTS PAGE STYLES are a set of CSS rules that will be applied to our events.HTML page via CSS selectors (class selectors or element type selectors/HTML elements) already defined in each HTML element that needs styling to match our template. */

.sec--events .figure {

}

 
    
/*  =============================================================================
    COMMUNITY PAGE STYLES  
    ============================================================================= */

/* COMMUNITY PAGE STYLES are a set of CSS rules that will be applied to our community.HTML page via CSS selectors (class selectors or element type selectors/HTML elements) already defined in each HTML element that needs styling to match our template. */

.sec--community ul {

}

.sec--community ul li:nth-child(odd),
.sec--community ul li:nth-child(even) {

}

.sec--community li:not(:first-of-type) {

}

.sec--community li:not(:last-of-type) {

}

.sec--community .col--last {

}

/*  MEDIA QUERIES - BREAKPOINT: Device has a maximal width of 768 pixels */

@media only screen and (max-width: 768px) {   
    .sec--community .figure {

    }
}



/*  =============================================================================
    MENTORS PAGE STYLES 
    ============================================================================= */

/* MENTORS PAGE STYLES are a set of CSS rules that will be applied to our mentors.HTML page via CSS selectors (class selectors or element type selectors/HTML elements) already defined in each HTML element that needs styling to match our template. */

.sec--mentors article:not(:first-of-type) {

}

.sec--mentors article:not(:last-of-type) {

}

/*  MEDIA QUERIES - BREAKPOINT: Device has a maximal width of 768 pixels */

@media only screen and (max-width: 768px) {   
    .sec--mentors .col {

    }
    
    .sec--mentors .figure {

    }
}



/*  =============================================================================
    FOOTER STYLES
    ============================================================================= */

/* FOOTER PAGE are a set of CSS rules that will be applied inside the Footer HTML element via CSS selectors (class selectors or element type selectors/HTML elements) already defined in each HTML element that needs styling to match our template. */

.footer {

}