/*! WOMEN TECHMAKERS HAMBURG: This is our custom CSS. */

/* WTH Color Palette: Hex Values - RGB Values: 
White: #fff - rgb(255, 255, 255);
Gray: #666 - rgb(102, 102, 102);
Black: #000 - rgb(0, 0, 0);
Green: #1CE9B6 - rgb(28, 233, 182);
Dark Green: #00BFA5 - rgb(0, 191, 165);
Blue: #4FC3F7 - rgb(79, 195, 247);
Dark Blue: #4285F4 - rgb(66, 133, 244);
*/

/*  =============================================================================
    RESETS  
    ============================================================================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #fff; /* White */
    color: #000;  /* Black */
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
}

.figure {
    margin: 0;
    padding: 0;
}

img {
    border: 0; /* Remove border from img when inside 'a' element in IE 8-10. */
    vertical-align: middle;
    outline: none;
}



/*  =============================================================================
    UTILITY  
    ============================================================================= */

a {
    border-color: #666; /* Fallback Gray */
    border-bottom: 1px solid rgba(102, 102, 102, 0.3); /* Gray */
    color: #666;  /* Gray */
    outline: 0;
    text-decoration: none;
    -webkit-transition: color 0.1s linear, border 0.2s linear; /* Chrome, Safari, Opera */
    transition: color 0.1s linear, border 0.2s linear;
}

a:hover,
a:focus {
    border-color: #1CE9B6; /* Fallback Green */
    border-color: rgba(28, 233, 182, 0.2); /* Green with 20% alpha opacity */
}

a:hover,
a:focus,
li:nth-child(odd) a:hover,
li:nth-child(odd) a:focus {
    color: #00BFA5; /* Dark Green */
}

li:nth-child(even) a:hover,
li:nth-child(even) a:focus {
    color: #1CE9B6; /* Green */
}

.h1, .h2, .h3, .h4, .cite {
    color: #666; /* Gray */
    font-weight: 100;
    line-height: 1.1;  
}

.h2 {
    font-size: 54px;
}

.h3,
.cite {
    font-size: 28px;
    margin-bottom: 20px;
}

.h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

.cite {
    font-style: normal;
}

@media only screen and (max-width: 768px) {
    .h2 {
        font-size: 44px;
    }
}



/*  =============================================================================
    HELPER CLASSES  
    ============================================================================= */

.visible-mobile {
    display: none !important;
}

@media only screen and (max-width: 768px) {
    .visible-mobile {
        display: block !important;
    }
}



/*  =============================================================================
    HEADER & NAVIGATION 
    ============================================================================= */

/* LOGO AND NAVIGATION */

.header {
    width: 100%;
    height: 60px;
    background-color: #fff; /* Fallback White */
    background-color: rgba(255,255,255, 0.9); /* White with 90% alpha opacity */
    position: fixed;
    z-index: 120;
}

.logo {
    float: left;
    margin: 0;
    position: relative;
    z-index: 110;
}

.logo a {
    width: 189px;
    height: 60px;
    background-image: url("../img/wtm-logo.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 189px 60px;
    border: 0;
    display: inline-block;
    float: left;
    font: 0/0 a;
    margin-right: 20px;
    vertical-align: middle;
    -webkit-transition: transform 0.1s linear; /* Chrome, Safari, Opera */
    transition: transform 0.1s linear;
}

.logo a:hover,
.logo a:focus {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    -webkit-transform: scale(0.9); /* Chrome, Safari, Opera */
    -ms-transform: scale(0.9); /* IE9 */
    transform: scale(0.9);
}

.menu {
    cursor: pointer;
    float: right;
    margin-right: 15px;
    -webkit-transform: translateY(20px); /* Chrome, Safari, Opera */
    -ms-transform: translateY(20px); /* IE9 */
    transform: translateY(20px);
}

.nav-trigger {
    display: none;
}

.nav ul {
    list-style-type: none;
    -webkit-transform: translateY(16px); /* Chrome, Safari, Opera */
    -ms-transform: translateY(16px); /* IE9 */
    transform: translateY(16px);
}

.nav ul li {
    display: inline-block;
    padding: 0 8px;
    vertical-align: middle;
}

.menu,
.nav a {
    border: 0;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

.menu:hover,
.menu:focus {
    color: #4FC3F7; /* Blue */
}

.nav a.active {
    color: #000;  /* Black */
}

@media only screen and (max-width: 768px) {
    .nav {
        width: 256px;
        height: 100%;
        backface-visibility: hidden;
        background-color: #fff; /* White */
        overflow: auto;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        visibility: hidden;
        -webkit-transition: all 0.5s; /* Chrome, Safari, Opera */
        transition: all 0.5s;
        -webkit-transform: translateX(-100%); /* Chrome, Safari, Opera */
        -ms-transform: translateX(-100%); /* IE9 */
        transform: translateX(-100%);
    }
    
    .nav ul {
        width: 95%;
        line-height: 20px;
        margin: 70px 0 0 13px;
        -webkit-transform: translateY(0); /* Chrome, Safari, Opera */
        -ms-transform: translateY(0); /* IE9 */
        transform: translateY(0);
    }
    
    .nav ul li {
        display: block;    
    }
    
    .nav ul li a {
        font-size: 16px;
        display: block;
        padding: 13px 16px;
    }
    
    .nav a.active {
        color: #4285F4; /* Dark Blue */
    }

    /* CSS Magic - Open the Mobile Navigation when the hidden checkbox is checked */
    .nav-trigger:checked + .nav {
        visibility: visible;
        -webkit-transform: translateX(0); /* Chrome, Safari, Opera */
        -ms-transform: translateX(0); /* IE9 */
        transform: translateX(0); 
    }
}



/*  =============================================================================
    GENERAL STYLES  
    ============================================================================= */

.wrapper {
    height: 100%;
    padding: 0 25px;
}    

.main {
    height: 100%;
}

.sec--content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
}

.sec--content .h2 {
    color: #4285F4; /* Dark Blue */
}

.sec--content ul {
    list-style-type: square;    
}

.sec--content ul li {
    margin-bottom: 10px;  
    margin-left: 18px;  
}

.sec--content ul li:nth-child(odd) {
    color: #4285F4; /* Dark Blue */ 
}

.sec--content ul li:nth-child(even) {
    color: #4FC3F7; /*  Blue */ 
}

.sec--content .h2 {
    margin-bottom: 60px;
}

.col {
    padding: 25px;
}

.img--responsive {
    max-width: 100%; 
    height: auto !important;   
}

.img--circle {
    border-radius: 50%;
}

    
.img--headline {
    width: 85%;
}

.job-title {
    font-size: 20px;  
}

.footer--blockquote {
    margin-top: 20px;
}

@media only screen and (min-width: 769px) {
    .sec--content .wrapper {
        padding: 0 35px;
    }
}



/*  =============================================================================
    HOME PAGE STYLES
    ============================================================================= */

.sec--hero {
    width: 100%;
    height: 100%;
    background-color: #fff; /* White */
    background-image: url('../img/hamburg-01.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.sec--hero .section {
    width: 100%;
    background-color: #fff; /* Fallback White */
    background-color: rgba(255,255,255, 0.9); /* White with 90% alpha opacity */
    padding: 20px 12px 12px;
    position: relative;
    top: 50%;
    left: 0;
    text-align: center;
    -webkit-transform: translateY(-40%); /* Chrome, Safari, Opera */
    -ms-transform: translateY(-40%); /* IE9 */
    transform: translateY(-40%);
}

.sec--hero__logo {
    display: inline-block;
    padding-bottom: 30px;
}

.sec--hero .h2 {
    display: inline-block;
    margin-top: 40px;
}

    
@media only screen and (min-width: 769px) {
    .sec--hero__logo {
        padding-right: 8px;
    }
}



/*  =============================================================================
    ABOUT PAGE STYLES  
    ============================================================================= */

.sec--about .figure {
    margin-bottom: 25px;
    text-align: center;
}

.sec--about .wrapper div:not(:first-of-type) .h2 {
    border-color: #666; /* Fallback Gray */
    border-top: 1px solid rgba(102, 102, 102, 0.2); /* Gray with 20% alpha opacity */
    margin-top: 25px;
    padding-top: 60px;
} 
 
 
 
/*  =============================================================================
    EVENTS PAGE STYLES  
    ============================================================================= */      

.sec--events .figure {
    margin-bottom: 25px;
    text-align: center;
}

 
    
/*  =============================================================================
    COMMUNITY PAGE STYLES  
    ============================================================================= */

.sec--community ul {
    list-style-type: none;    
}

.sec--community ul li:nth-child(odd),
.sec--community ul li:nth-child(even) {
    color: #000;  /* Black */
}

.sec--community li:not(:first-of-type) {
    padding-top: 60px;
}

.sec--community li:not(:last-of-type) {
    border-color: #666; /* Fallback Gray */
    border-bottom: 1px solid rgba(102, 102, 102, 0.2); /* Gray with 20% alpha opacity */
    padding-bottom: 60px;
}

.sec--community .col--last {
    /* No need for a Fallback Color on full opacity here. Otherwise the text box will be unreadable. */
    background-color: rgba(66, 133, 244, 0.05); /* Dark Blue with 5% alpha opacity */
}

@media only screen and (max-width: 768px) {   
    .sec--community .figure {
        text-align: center;
    }
}



/*  =============================================================================
    MENTORS PAGE STYLES 
    ============================================================================= */

.sec--mentors article:not(:first-of-type) {
    padding-top: 60px;
}

.sec--mentors article:not(:last-of-type) {
    border-color: #666; /* Fallback Gray */
    border-bottom: 1px solid rgba(102, 102, 102, 0.2); /* Gray with 20% alpha opacity */
    padding-bottom: 60px;
}

@media only screen and (max-width: 768px) {   
    .sec--mentors .col {
        padding-top: 0;
    }
    
    .sec--mentors .figure {
        text-align: center;
    }
}



/*  =============================================================================
    FOOTER 
    ============================================================================= */

.footer {
    border-color: #666; /* Fallback Gray */
    border-top: 1px solid rgba(102, 102, 102, 0.2); /* Gray with 20% alpha opacity */
    color: #666; /* Gray */
    font-size: 13px;
    margin-top: 60px;
    padding: 12px 0;
    text-align: center;
}